.pastel-card {
  background-color: #f8f3f9;
  border: 1px solid #e5e0e6;
  border-radius: 10px;
  padding: 1rem;
}

.form-control-sm {
  border-radius: 8px;
  border-color: #ddd;
}

.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: var(--muted-text-color);
}

.btn-primary:hover {
  background-color: var(--primary-color-hover);
}

.btn-success {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  color: var(--muted-text-color);
}

.btn-success:hover {
  background-color: var(--secondary-color-hover);
}

.btn-danger {
  background-color: var(--tertiary-color);
  border-color: var(--tertiary-color);
  color: var(--muted-text-color);
}

.btn-danger:hover {
  background-color: var(--tertiary-color-hover);
}

label {
  margin-bottom: 0.3rem;
}
